{% extends "blog/base.html" %}
{% block title %}Edit comment{% endblock %}

{% block content %}
  <h1>Edit your comment</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <p>
      {{ form.body.label_tag }}<br>
      {{ form.body }}
      {{ form.body.errors }}
    </p>

    <div class="comment-actions">
      <button type="submit" class="edit-btn">💾 Save changes</button>
      <a href="{{ comment.post.get_absolute_url }}" class="cancel-btn">Cancel</a>
    </div>
  </form>
{% endblock %}
