<!-- blog/post_comment.html -->
{% extends "blog/base.html" %}

{% block title %}Add a Comment{% endblock %}

{% block content %}
  <h2>Add a comment to "{{ post.title }}"</h2>
  
  {% if comment %}
    <h3>Your comment has been added!</h3>
    <p><a href="{{ post.get_absolute_url }}">Back to the post</a></p>
  {% else %}
    <form method="post" class="comment-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit Comment</button>
    </form>
  {% endif %}
{% endblock %}